name: Rest API Tests with Allure

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    
    - name: Check Test Results
      run: |
          ls -la target/surefire-reports/ || echo "No surefire reports"
           ls -la target/ || echo "Check target directory"
           
    
    - name: Build and Test
      run: |
        mvn clean compile test-compile
        mvn test
    
    - name: Generate Allure Report
      run: mvn allure:report
      if: always()
    
    - name: Upload Allure Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: allure-report
        path: target/site/allure-maven-plugin/
    
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test-results
        path: target/surefire-reports/
